
small
{
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  right: 30%;


  text-align: justify;
  font-size: 120%;
}

nav
{
  display: block;
  position: absolute;
  top: 40%;
  left: 12.5%;
  right: 12.5%;
  bottom: 50%;


  text-align: center;
  font-size: 120%;

}

.bt
{
  border-radius: 10px;

  background-color: #8d8db1;
  color: #1a1a3c;
  font-size: 100%;
  font-weight:bolder;

  width: 15%;
  height: 70%;
}

main
{
  display: block;
  position: absolute;
  top: 7%;
  left: 33%;
  right: 33%;
  bottom: 63%;


  background: radial-gradient(circle farthest-corner at 30% 60%, #8d8db1, 30%, #1a1a3c, 92%,#07071b);
}

#svg
{

  position: absolute;
  left: 0%;
}

#slogan
 {

   line-height:  120%;
   position: absolute;
   display: block;
   top: 33%;
   bottom: 20%;
   left: 65%;
   right: 3%;

   text-align: justify;
   font-size: 75%;
   color: white;

 }

 #logo
 {
   display: block;
   overflow: hidden;
 }

 #track
 {
   position: fixed;
   top: -100px;
   left: 0px;

 }

.car
{
  position: absolute;
  display: block;

  top:  0%;
  left: 0%;
}

 #img1
 {
  animation-name: car1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }


 #img2
 {
   animation-name: car2;
   animation-duration: 15s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }


 #img3
 {
   animation-name: car3;
   animation-duration: 15s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }

 @keyframes car1
 {
   0% {opacity: 1;}
   30% {opacity:1;}
   35% {opacity:0;}
   95% {opacity: 0;}
}

@keyframes car2
{
  0% {opacity: 0;}
  30% {opacity:0;}
  35% {opacity:1;}
  60% {opacity: 1;}
  66% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes car3
{
  0% {opacity: 0;}
  60%{opacity: 0;}
  66%{opacity: 1;}
  95% {opacity: 1;}
  100% {opacity: 0;}
}
